# Copy this file to .env and fill in your values.
# .env is gitignored and never committed.

# Required to use HOOPS AI (CAD access, encoding, ML)
HOOPS_AI_LICENSE='your-HOOPS_AI_LICENSE-key-here'
# 'cpu', 'gpu' or 'cuda'
TORCH_VARIANT='cpu'
GPU_BATCH_SIZE=12 # Or higher if your gpu have more memory than middle grade gpu, lower if you have "CUDA out of memory".
